.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #2c3e50;
  position: fixed;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  z-index: 1;

  &__logo {
    text-transform: uppercase;
    font-weight: bolder;
    color: #ffff;
  }

}
